body {
  margin: 0;
  padding: 0;
}

.main {
  padding: 10px;
  text-align: center;
  background-color: rgba(2, 92, 237, 0.5);
}

.informacion1 {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid gray;
}

.informacion1 > section {
  padding: 0 5px;
  width: 50%;
  text-align: center;
}
.informacion1 > section > ul,
.informacion2 > section > ul {
  text-align: start;
  list-style: none;
}

.informacion2 {
  display: flex;
  padding: 15px 0;
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid gray;
}

.informacion2 > section {
  width: 33%;
  text-align: center;
}

.informacion2 > section:nth-child(2) > img {
  width: 50%;
}
